<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="title" content="Chat Pretty!">
        <meta name="description" content="A WhatsApp screenshot stitcher for long conversations.">
        <meta name="author" content="Radhika Ghosal">

        <title>Chat Pretty!</title>

        <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/sticky-footer.css"> 
        <link rel="stylesheet" type="text/css" href="static/css/social-share-kit.css">
        <!--<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">-->
        <!--<link href="http://getbootstrap.com/examples/sticky-footer/sticky-footer.css" rel="stylesheet">-->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="static/chat_pretty.js"></script>
        <script src="static/social-share-kit.js"></script>
        
        <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-67812658-1', 'auto');
              ga('send', 'pageview');

        </script>

    </head>

    <body>

        <!-- Begin page content -->
        <div class="container">
            
            <div class="page-header">
                <h1>Chat Pretty!</h1>
            </div>
            
            <p class="lead">Gone are the days of taking 20 screenshots to send a conversation to a friend.</p>
            <p class="lead">Copy and paste your WhatsApp conversation below and watch the magic.</p>
            
            <form role="form" method="post" action="">
                
                <div class="form-group">
                    <textarea name="chatStr" class="form-control" id="chat-text"></textarea>
                </div>

                    <select name="person" class="form-control" id="person-choice">
                        <option>Who are you?</option>
                    </select>

                    <p class="lead" style="font-size:15px; color:red;" id="error-text">Something is wrong with your copypasta. Did you modify it after pasting it in the box? Try pasting it again.</p>

                <button type="submit" class="btn btn-default" id="submit-button">Prettify!</button>
            
            </form>
        
        </div>

        <footer class="footer">
            <div class="container">

                <div class="ssk-group ssk-round">

                    <a href="" class="ssk ssk-facebook"></a>
                    <a href="" class="ssk ssk-twitter"></a>
                    <a href="" class="ssk ssk-google-plus"></a>
                    <a href="https://github.com/RadhikaG/ChatPretty" class="ssk ssk-icon ssk-github" title="Github"></a>

                </div>
                
            </div>
        </footer>

        <script type="text/javascript">
        SocialShareKit.init();
        </script>

    </body>

</html>
